@import text.sass
@import grid.sass

//Displays a general message box with the specified text color
=message($text-color, $border-color)
  display: block
  width: 460px
  font-size: 12px
  font-weight: bold
  border: 2px solid $border-color
  color: $text-color
  background-color: #FFFFE5
  margin-bottom: 20px
  padding: 7px
  
+text
  
body 
  background-color: #ADCEFF
  
#banner
  +grid-container
  height: 75px
  background-color: #61A0FF
  border: 1px solid black
  border-bottom-width: 0px
  #user_nav
    float: right
    
#main
  +grid_container
  height: 525px
  background-color: #FFFFFF
  border: 1px solid black
      
#footer
  +grid_container
  height: 50px
  background-color: #61A0FF 
  border: 1px solid black
  border-top-width: 0px
  
.content
  +grid(12)

.notice 
  +message(green, green)

.alert
  +message(#c00, #c00)


//Form styles
fieldset
  ol, li 
    clear: both
    list-style: none
    margin: 0 0 10px 0

label
  display: block
  width: 150px
  
.fieldWithErrors
  label
    color: #c00

#error_explanation
  width: 460px
  border: 2px solid #c00
  padding: 7px
  padding-bottom: 0
  margin-bottom: 20px
  background-color: #FFFFE5

#error_explanation h2
  text-align: left
  font-weight: bold
  padding: 5px 5px 5px 15px
  font-size: 12px
  margin: -7px
  margin-bottom: 0px
  background-color: #c00
  color: #fff

#error_explanation ul li
  font-size: 12px
  list-style: square
  
